* {
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* h1 {
  font-size: 4.5em;
}

h2{
  font-size: 4em;
}

h3 {
  font-size: 3em
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2em;
}

p {
  font-size: 1.75em;
} */

.display {
  width: 100vw;
  border: 2px solid green;
}

.profile {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: .5em .75em .5em lightgrey;
}

.about, .projects-container, .project-text, .projects, .me-container, .me-text {
  margin: 0 auto;
  text-align: center;
  background-color: #66e0ff;
  padding: 2px;
}

.projects-container, .me-container {
  height: 20%;
}

.project-text, .me-text {
  height: 20%;
}

.projects, .me-images {
  padding: 2px;
  height: 80%;
  overflow-x: scroll;
  display: flex;
  white-space: nowrap;
  box-shadow: .5em .75em .5em lightgrey;
  width: 100%;
}

.project, .me-images {
  display: inline-block;
  width: 100%;
}
.thumb {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.code {
  background-color: black;
}

/* desktop styling */
@media only screen and (min-width: 1200px) {
  .display, .code {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
  }
  .display {
    float: left;
    align-items: center;
  }
  .code {
    float: right;
  }
  .profile {
    height: 25%;
    margin: 0 auto;
    border: 2px blue solid;
    padding: 10px;
  }
  .profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: .5em .75em .5em lightgrey;
    float: right;
  }
  .profile-text {
    float: left;
    width: 60%;
  }
}

/* .code {
  width: 50vw;
  height: 100vh;
  background-color: black;
  color: white;
}
.html-box {
  border: 2px solid grey;
  width: 50vw;
  height: 50%;
}

.html-header {
  height: 7%;
}

.html {
  width: 50vw;
  height: 80%;
  overflow: scroll;
  border: 2px solid grey;
}

.css {
  width: 50vw;
  overflow: scroll;
}

.display {
  width: 50vw;
  border: 2px double red;
  overflow: scroll;
}

.profile {
  width: 50vw;
  height: 5rem;
  text-align: center;
}

h2, h3, h4, h5 {
  text-align: center;
}

.indent-one {
  padding-left: 60px;
}

.indent-two {
  padding-left: 120px;
}

.indent-three {
  padding-left: 180px;
}

.indent-four {
  padding-left: 240px;
}

.contact-details {
  border: 2px solid green;
  padding: 2px;
  height: 10rem;
}

.about {
  border: 2px solid black;
  padding: 2px;
}

.middle {
  width: 100vw;
  border: 2px solid yellow;
  padding: 2px;
}

.projects-container {
  width: 50vw;
  border: 2px dashed blue;
}

.projects {
  border: 2px solid blue;
  padding: 2px;
  width: 50vw;
  overflow-x: scroll;
  display: inline-block;
  white-space: nowrap;
}

.project {
  width: 20vw;
  height: 20vw;
  display: inline-flex;
  flex-direction: column;
  border: 2px solid purple;
  padding: 2px;
  white-space: normal;
}

p.proj-bio {
  height: 50%;
  display: inline-block;
  overflow: scroll;
}

li {
  display: inline;
}

ul {
  display: inline;
} */
